:root{
    --black:#000;
    --white:#fff;
    --blue:#007bff;
    --gray:#f0f0f0;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow:var(--shadow);
    width: 300px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
input[type="text"],
input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}
button {
    padding: 10px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: var(--blue);
}
.error {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}